@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url(midia/Fontes/idroid.otf) format('Opentype');
}

@font-face {
    font-family: 'tec';
    src: url(midia/Fontes/Techno.ttf) format('Truetype');
}

:root {
    --corp1:#A6C73A;
    --corp2:#6FD489;
    --cor0:#9FBE37;
    --cor1:#2D3610;
    --corL:#1A1F09;

    --fonte-tlt: 'tec', 'cursive';
    --fonte-and: 'android', 'cursive';
    --fonte-prc: Arial, Verdana, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

/*
    Pagina Principal ==============================================================================================================================================================================
*/

header {
    background-image: linear-gradient(270deg, #000000, #1a1a1a);
    height: 40px;
}

header h1 {
    color: var(--corp2);
    font-family: var(--fonte-tlt);
    font-weight: lighter;
    padding: 8px 20px;
    font-style: none;
    text-decoration: none;
    margin-bottom: 10px;
}

@media (max-width: 550px) {
    header h1 {
        font-size: 28px;
    }
}

.menu1 {
    background-image: linear-gradient(270deg, #000000, #1a1a1a);
    height: 30px;
    margin: 0px;
    padding-top: 18px;
    font-family: var(--fonte-prc);
    font-size: 0.9em;
}

.menu_p {
    margin-right: 5px;
    text-decoration: none;
    color: black;
    background-color: var(--corp2);
    margin-left: 20px;
    padding: 4px 20px;
    border-radius: 9px;
    font-weight: bold;
}

.menu_p:hover {
    background-color: white;
    color: var(--cor1);
    transition-duration: .3s;
}

.menu_1 {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    padding: 4px;
    border-radius: 9px;
    font-weight: bold;
}

.menu_1:hover {
    background-color: white;
    color: black;
    transition-duration: .3s;
}

main {
    background-color: white;
    max-width: 900px;
    min-height: 2720px;
    margin: auto;
    padding: 25px;
    text-align: justify;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.603);
}

.artigo1_texto > h2 {
    font-family: var(--fonte-and);
    font-weight: normal;
    margin-bottom: 10px;
    background-color: var(--corp1);
    padding-left: 10px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
}

.artigo1_texto > p {
    font-family: var(--fonte-prc);
    text-indent: 30px;
    margin-bottom:30px;
}

.art_foto1 {
    display: block;
    margin: auto;
    max-width: 80%;
    border-left: var(--cor1) solid 55px;
    border-right: var(--cor1) solid 55px;
    border-top: var(--cor1) solid 15px;
    border-bottom: var(--cor1) solid 15px;
}

.art_foto2 {
    display: block;
    margin: auto;
    max-width: 80%;
    border: var(--cor1) solid 15px;
}

.artigo2_texto > h2 {
    font-family: var(--fonte-and);
    font-weight: normal;
    margin-bottom: 10px;
    background-color: var(--corp1);
    padding-left: 10px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: 30px;
}

.artigo2_texto  p {
    font-family: var(--fonte-prc);
    text-indent: 30px;
    margin-bottom: 30px;
}

.artigo3_texto > h2 {
    font-family: var(--fonte-and);
    font-weight: normal;
    margin-bottom: 10px;
    background-color: var(--corp1);
    padding-left: 10px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: 30px;
}

.artigo3_texto  p {
    font-family: var(--fonte-prc);
    text-indent: 30px;
}

.artigo4_texto h2 {
    font-family: var(--fonte-and);
    font-weight: normal;
    margin-bottom: 10px;
    background-color: var(--corp1);
    padding-left: 10px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: 30px;
}

.artigo4_texto p {
    font-family: var(--fonte-prc);
    text-indent: 30px;
    margin-bottom: 30px;
}

.artigo5_texto h2 {
    font-family: var(--fonte-and);
    font-weight: normal;
    margin-bottom: 10px;
    background-color: var(--corp1);
    padding-left: 10px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: 90px;
}

.artigo5_texto p {
    font-family: var(--fonte-prc);
    text-indent: 30px;
    margin-bottom: 30px;
}

.video {
    background-color: white;
    max-width: 550px;
    height: 250px;
}

.artigo5_texto video {
    display: block;
    width: 89%;
    border: var(--cor1) solid 15px;
}

.android_aside {
    max-width: 600px;
    height: 520px;
    background-color: white;
    border: var(--corL) solid 25px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.438);
}

h3 {
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: var(--fonte-and);
    text-align: center;
}

.android_ul {
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    text-align: center;
}

.android_ul li {
    font-family: var(--fonte-prc);
    font-weight: bold;
    margin-bottom: 15px;
}

.android_aside p {
    margin-left: 30px;
    margin-top: 35px;
    font-family: var(--fonte-prc);
}

.android_aside a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.android_aside a:hover {
    border: black solid 3px;
    padding: 0px 4px;
    border-radius: 10px;
    transition-duration: .3s;
}

.espaço {
    margin-top: 40px;
}

.menu_2 {
    margin-right: 10px;
    background-color: white;
    border: black solid 3px;
    padding: 2px 10px;
    border-radius: 10px;
    font-family: var(--fonte-prc);
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.menu_2:hover {
    background-color: black;
    color: var(--corp2);
    transition-duration: .3s;
}

.fim2 {
    margin-top: 50px;
}

.fim {
    margin-top: 50px;
    background-color: var(--corp2);
    height: 10px;
    max-width: 1250px;
    margin: auto;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

footer {
    background-color: black;
    min-height: 70px;
    max-width: 1250px;
    margin: auto;
}

.fim_site {
    padding-left: 80px;
    padding-top: 20px;
    margin-bottom: 10px;
    color: var(--corp2);
    font-family: var(--fonte-prc);
}

footer p {
    color: var(--corp2);
    font-family: var(--fonte-prc);
    padding-left: 80px;
}

footer a {
    text-decoration: none;
    color: var(--corp2);
    font-family: var(--fonte-prc);
    padding-bottom: 5px;
}

footer a:hover {
    color: white;
    transition-duration: .3s;
}

.fim_link {
    padding-bottom: 20px;
}

.fim3 {
    margin-top: 50px;
    background-color: var(--corp2);
    height: 5px;
    max-width: 1250px;
    margin: auto;
}

/*
    Pagina Curiosidades ==============================================================================================================================================================================
*/

.pagina2_main {
    background-color: white;
    max-width: 900px;
    min-height: 1500px;
    margin: auto;
    padding: 25px;
    text-align: justify;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.603);
}

.h1pagina2 {
    font-family: var(--fonte-and);
    background-color: black;
    color: var(--corp2);
    padding: 8px 8px 25px 8px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.438);
}

@media (max-width: 550px) {
    .h1pagina2 {
        font-size: 27px;
    }
}

.navpagina2 {
    background-color: black;
    height: 31px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.438);
}

.navpagina2 .pagina2_menu_inicio {
    text-decoration: none;
    font-weight: bold;
    font-family: var(--fonte-prc);
    color: white;
    background-color: black;
    border: var(--corp2) solid 2px;
    padding: 1px 8px;
    margin-left: 20px;
    border-radius: 8px;
}

.navpagina2 .pagina2_menu_inicio:hover {
    background-color: var(--corp2);
    color: black;
    transition-duration: .3s;
}

.botao_home_inicio {
    display: inline-block;
    font-weight: bold;
    font-family: var(--fonte-prc);
    color: black;
    border: var(--corp2) solid 2px;
    padding: 1px 8px;
    margin-left: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

.botao_home_inicio3 {
    width: 15px;
    height: 15px;
    background-image: url('midia/Imagens/casaicone4.png');
    background-position: center ;
    background-size: cover;
    margin-top: -17px;
    margin-bottom: 1px;  
}

.botao_home_inicio:hover .botao_home_inicio3 {
    background-image: url("midia/Imagens/casaicone3.png");
    transition-duration: .3s;
}

.botao_home_inicio:hover {
    background-color: var(--corp2);
    transition-duration: .3s;
}

.pagina2_artigo h2 {
    font-family: var(--fonte-and);
    font-weight: normal;
    margin-bottom: 10px;
    background-color: var(--corp1);
    padding-left: 10px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: 30px;
}

.pagina2_artigo p {
    font-family: var(--fonte-prc);
    text-indent: 30px;
    margin-bottom:30px;
}

.pagina2_artigo img {
    display: block;
    margin: auto;
    max-width: 100%;
    margin-bottom: 30px;
}

.pagina2_nav_fim {
    text-decoration: none;
    font-weight: bold;
    font-family: var(--fonte-prc);
    color: black;
    border: black solid 2px;
    padding: 1px 8px;
    margin-left: 20px;
    border-radius: 8px;
}

.pagina2_nav_fim:hover {
    background-color: black;
    color: var(--corp2);
    transition-duration: .3s;
}

.botao_home {
    display: inline-block;
    font-weight: bold;
    font-family: var(--fonte-prc);
    color: black;
    border: black solid 2px;
    padding: 1px 8px;
    margin-left: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: white;
}

.botao_home3 {
    width: 15px;
    height: 15px;
    background-image: url('midia/Imagens/casaicone.png');
    background-position: center ;
    background-size: cover;
    margin-top: -17px;
    margin-bottom: 1px;  
}

.botao_home:hover .botao_home3 {
    background-image: url("midia/Imagens/casaicone2.png");
    transition-duration: .3s;
}

.botao_home:hover {
    background-color: black;
    transition-duration: .3s;
}

/*
    Pagina Atualisação
    ==============================================================================================================================================================================
*/

.h1pagina3 {
    font-family: var(--fonte-and);
    background-color: black;
    color: var(--corp2);
    padding: 8px 8px 25px 8px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.438);
}

@media (max-width: 590px) {
    .h1pagina3 {
        font-size: 26px;
    }
}

.pagina4_aside {
    max-width: 500px;
    margin: auto;
    border: var(--cor1) solid 10px;
    padding: 0px 45px 30px 45px;
    padding-right: 45px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.438);
}

.pagina4_ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
}

.pagina4_ul p {
    background-size: cover;
    background-color: var(--cor0);
    padding: 3px;
    font-family: var(--fonte-and);
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

/*
    Pagina Atualisação
    ==============================================================================================================================================================================
*/

.pagina3_main {
    background-color: white;
    max-width: 900px;
    min-height: 1050px;
    margin: auto;
    padding: 25px;
    text-align: justify;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.603);
}

.pagina3_artigo1 h2 {
    font-family: var(--fonte-and);
    font-weight: normal;
    margin-bottom: 10px;
    background-color: var(--corp1);
    padding-left: 10px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
}

.pagina3_artigo1 p {
    font-family: var(--fonte-prc);
    text-indent: 30px;
}

.pagina3_aside {
    max-width: 500px;
    margin: auto;
    border: var(--cor1) solid 10px;
    padding: 15px 20px 20px 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.438);
}

.pagina3_ul {
    columns: 3;
}

.pagina3_ul li {
    font-size: 20;
    font-family: var(--fonte-prc);
    font-weight: bold;
    text-align: center;
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    text-decoration: none;
    margin-bottom: 10px;
}

.pagina3_ul abbr {
    font-weight: normal;
    font-size: 16px;
}

.android_ul p {
    font-weight: normal;
}